body{
    background-color: #3CDBC0;
}
.cabecera {
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo {
    
    width: 100%;
    height: 100%;
}